.middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
}

.main {
    flex: 1;
    display: flex;
    overflow: hidden;
    min-height: 0;
}

@media (max-width: 860px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .middle {
        flex: 1;
        overflow: visible;
    }

    .main {
        flex-direction: column;
        overflow: visible;
        flex: 1;
    }
}